.projects {
	padding: 0;
	margin-top: 10px;
}

.app-store-project {
	list-style-type: none;
	margin: 0 0 10px 0;
	clear:left;
	min-height: 52px;
}
.app-store-project img {
	width: 52px;
	height: 52px;
	float: left;
	margin-right: 10px;
	border-radius: 10px;
}

.book img {
	margin-right: 10px;
	float: left;
}

.experience-description p {
	font-size: 1em;
}

.read_more {
	text-align: right;
}