---
section: blog
layout: default
---
<div class="row">
    <div class="col-xs-12">
        {% for post in site.posts %}
        <article class="post box">
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
            <p>{{ post.excerpt }}</p>
        </article>
        {% endfor %}
    </div>
</div>
