---
section: resume
layout: default
---

<div class="row">
    <div class="col-xs-12 col-sm-7">
        <!-- ABOUT ME -->
        <div class="box">
            <h2>About Me</h2>
            <p>{{ site.data.about.me }}</p>
        </div>
        <!-- EXPERIENCES -->
        <div class="box">
            <h2>Experiences</h2>
            {% for experience in site.data.experiences %}
            <div class="job clearfix">
                <div class="col-xs-3">
                    <div class="where">{{ experience.where }}</div>
                    <div class="year">{{ experience.year }}</div>
                </div>
                <div class="col-xs-9">
                    <div class="profession">{{ experience.profession }}</div>
                    <div class="experience-description description">
                        {{ experience.description | markdownify | newline_to_br }}
                    </div>
                    {% for project in experience.projects %}
                    <ul class="projects">
                        <li id="app-{{ project.store_id }}" class="project app-store-project">
                            {% if project.store_id %}
                            <img src="/assets/store/{{ project.store_id }}.png" alt="{{ project.name }}" />
                            <a href="http://itunes.apple.com/app/id{{ project.store_id }}">{{ project.name }}</a>
                            {% else %}
                            <img src="/assets/store/{{ project.image }}" alt="{{ project.name }}" />
                            <a href="{{ project.url }}">{{ project.name }}</a>
                            {% endif %}
                            <p>{{ project.description | newline_to_br }}</p>
                            {% if project.long_description %}
                            <p id="app-{{ project.store_id }}-desc" class="long_description">{{ project.long_description }}</p>
                            <div class="read_more">
                                <a href="#app-{{ project.store_id }}" class="read_more_link" data-expandable="app-{{ project.store_id }}-desc">Read more</a>
                            </div>
                            {% endif %}
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- EDUCATION -->
        <div class="box">
            <h2>Education</h2>
            <ul id="education" class="clearfix">
                {% for education in site.data.educations %}
                <li>
                    <div class="year pull-left">{{ education.year }}</div>
                    <div class="description pull-right">
                        <h3>{{ education.title }}</h3>
                        <p>{{ education.description | newline_to_br }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-5">
        <!-- CONTACT -->
        <div class="box clearfix">
            <h2>Contact</h2>
            <div class="contact-item">
                <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
                <div class="title only pull-right"><a href="mailto:{{ site.data.about.email }}">{{ site.data.about.email }}</a></div>
            </div>
            <div class="contact-item">
                <div class="icon pull-left text-center"><span class="fa fa-twitter fa-fw"></span></div>
                <div class="title pull-right">Twitter</div>
                <div class="description pull-right"><a href="http://twitter.com/{{ site.data.about.twitter }}">{{ site.data.about.twitter }}</a></div>
            </div>
            <div class="contact-item">
                <div class="icon pull-left text-center"><span class="fa fa-skype fa-fw"></span></div>
                <div class="title pull-right">Skype</div>
                <div class="description pull-right">{{ site.data.about.skype }}</div>
            </div>
            <div class="contact-item">
                <div class="icon pull-left text-center"><span class="fa fa-github fa-fw"></span></div>
                <div class="title pull-right">Github</div>
                <div class="description pull-right">{{ site.data.about.github }}</div>
            </div>
            <div class="contact-item">
                <div class="icon pull-left text-center"><span class="fa fa-thumbs-up fa-fw"></span></div>
                <div class="title pull-right">Speakerdeck</div>
                <div class="description pull-right"><a href="https://speakerdeck.com/{{ site.data.about.speakerdeck }}">{{ site.data.about.speakerdeck }}</a></div>
            </div>
        </div>
        <!-- Book -->
        <div class="box clearfix book">
            <h2>My Book</h2>
            <a href="http://www.apress.com/9781484201251"><img src="/assets/projects/book.jpg" width="150" alt="Pro continuous integration"></a>
            <p>Apress gave me the opportunity to write my first book about a subject that I love: continuous integration for iOS.<br/> It was an awesome experience that kept me busy for a few months, as I <a href="https://medium.com/@Palleas/b2001fb37df2">talked about here</a>.</p>
            <a href="http://apress.com/9781484201251">Link to Apress website</a>
        </div>
        <!-- SKILLS -->
        <div class="box">
            <h2>Skills</h2>
            <div class="skills">
                {% for skill in site.data.skills %}
                <div class="item-skills"><strong>{{ skill.name }}:</strong> {{ skill.details }}</div>
                {% endfor %}
            </div>
        </div>
        <!-- LANGUAGES -->
        <div class="box">
            <h2>Languages</h2>
            <div id="language-skills">
                {% for language in site.data.languages %}
                <div class="skill">
                    {{ language.name }}
                    <div class="icons pull-right">
                        <div style="width: {{ language.level }}%;" class="icons-red"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- HOBBIES -->
        <div class="box">
            <h2>Hobbies</h2>
            {% for hobby in site.data.hobbies %}
            <div class="hobby">{{ hobby }}</div>
            {% endfor %}
        </div>
    </div>
</div>
