<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Romain Pouclet - iOS developer, Montréal, QC</title>

    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/font-awesome.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <link rel="stylesheet" href="/css/{{ page.section }}.css">

    <!--[if lt IE 9]>
      <script src="{{ "js/html5shiv.js" | prepend: site.baseurl }}"></script>
      <script src="{{ "js/respond.min.js"  | prepend: site.baseurl }}"></script>
    <![endif]-->

    <!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("12e50e5802409569cb41f4d367ce811e");</script><!-- end Mixpanel -->
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="photo-header" class="text-center">
                    <!-- PHOTO (AVATAR) -->
                    <div id="photo">
                        <a href="/"><img src="{{ "/img/avatar.jpg" | prepend: site.baseurl }}" alt="avatar"></a>
                    </div>
                    <div id="text-header">
                        {% if page.title %}
                            <h1 class="post_title">{{ page.title }}</h1>
                        {% else %}
                            {% if page.section == "resume" %}
                                <h1>Hey!<br>My name is <span>Romain</span> and this is my <del>blog</del> resume.</h1>
                            {% else %}
                                <h1>Hey!<br>My name is <span>Romain</span> and this is my blog.</h1>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {{ content }}
    </div>

    <!-- JQUERY -->
    <script src="/js/jquery.min.js"></script>
    <!-- BOOTSTRAP -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- SCRIPTS -->
    <script src="/js/scripts.js"></script>
    <script src="/js/resume.js"></script>
  </body>
</html>
